<div id="container">
    <div id="top">
    <div class="beer-foam">
    <div class="foam-1"></div>
    <div class="foam-2"></div>
    <div class="foam-3"></div>
    <div class="foam-4"></div>
    <div class="foam-5"></div>
    <div class="foam-6"></div>
    <div class="foam-7"></div>
    <div class="foam-8"></div>
    <div class="foam-9"></div>
    <div class="foam-10"></div>
    <div class="foam-11"></div>
    <div class="foam-12"></div>
    <div class="foam-13"></div>
    <div class="foam-14"></div>
    <div class="foam-15"></div>
    </div>
    <div id="liquid">
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
    </div>
    </div>
    <h2 class="text_banner">Craft Beer Tours</h2>
    </div>

<img class="chmiel" src="https://cdn.shopify.com/s/files/1/0390/9805/products/Hop-Pale-Ale.png?v=1395710510" alt="" />

  <div id="app"></div>

  <script type="html/template" id="GmapView">
  <div id="map">
  </div>
  </script>

  <script type="html/template" id="mapViewTemplate">
    <div id="breweryIndexView">
    </div>
  </script>

  <script type="html/template" id="keyViewTemplate">
    <div id="tourList">
      <ul id="tourListGroup"></ul>
    </div>
  </script>

  <script type="html/template" id="tourDateTemplate">
    <div id="tourSessions">
      <ul id="tourSessionList"></ul>
    </div>
  </script>


  <script type="html/template" id="initializeViewTemplate">

    <p id="appViewHeading">Select a tour
      <img id="b" src="/assets/bear.png" alt="" style="position:absolute; top:50px">
    </p>
  </script>
