<div id="app">
  <h1>Backbone page</h1>
</div>

<script type="html/template" id="mapViewTemplate">
  <div id="mapView">
    <p>map inside here</p>
  </div>
</script>


<script type="html/template" id="keyViewTemplate">
  <div id="keyView">
    <p>Tour key inside here</p>
  </div>
</script>

<script type="html/template" id="tourDateTemplate">
  <div id="TourSessions">
    <p>Tour dates inside here</p>
  </div>
</script>


<button>Book Tour</button>
