 <button>Book Tour</button>

<div id="app">


</div>

<script type="html/template" id="GmapView">
<div id="map">
  <p>map here</p>
</div>
</script>

<script type="html/template" id="mapViewTemplate">
  <div id="breweryIndexView">
  </div>
</script>

<script type="html/template" id="keyViewTemplate">
  <div id="tourList">
    <ul id="tourListGroup"></ul>
  </div>
</script>

<script type="html/template" id="tourDateTemplate">
  <div id="tourSessions">
  <p>Tour dates</p>
    <ul id="tourSessionList"></ul>
  </div>
</script>
