<<<<<<< HEAD
<h2><%= brewery.brewery_name %></h2>
    <%=image_tag(brewery.image) %>
<p><%= brewery.description %></p>
<p>website <%=brewery.website%></p>
=======
<h1>This is the infowindow</h1>
<%#= @brewery.brewery_name %>
>>>>>>> e121025825d22a6bf89362e7189316795bf59095
