.brewpics{
  max-width: 90px;
  max-height: 90px;
  margin-bottom: 4px;
}

.gm-style .gm-style-iw h2 {
  font-size: 1.9em;
  // font-weight: bold;
}

.gm-style .gm-style-iw p {
  font-size: 1.1em;
  margin-bottom: 2px;;
}


.gm-style .gm-style-iw {
  font-family: monospace;
  color: #191716;
}
