ul{
  margin:0;
  padding:0;
}

ul#scene {
  height: 100vh;
}

.container {
  width:100vw;
  height:100vh;
  max-width: 1920px;
  max-height: 1080px;
  overflow:hidden;
  position:relative;
  padding:0;
}

.background {
  background: image-url('blue.jpg');
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  background-size:cover;
}

.layer div {
  position:absolute;
}

.sun { top: 10px; left: 1100px; }
.bottomrightcloud { top: 300px; left: 1200px; }

.toprightcloud { top: -30px; left: 1200px; }
.topleftcloud { top: 0px; left: 20px; }

.bottomleftcloud { top: -30px; left: 800px; }
.tlcloud { top: 50px; left: 100px; }

.city{ top:405px; left:-90px; }
.killerwhale{ top:650px; left:1200px; }

.field{ top:525px; left:-120px; }
.field2{ top:500px; left:-250px; }
.field3{ top:470px; left:-350px; }

.leopard{ top:680px; left:1390px; }
.bridge{ top:340px; left:850px;}
.mountains{ top:200px; left:100px; }

.bear{ top:540px; left:150px;}
.bearbeer{ left:140px; top:390px; transform: rotate(85deg); }
.eagle{ top:100px; left:350px;}

.vw{ top:550px; left:590px; }
.hop{ top:690px; left:840px; }
.hopon{ top:715px; left:940px; }

.sign{ top:540px; left:510px; }
.road{ top:790px; left:-160px;}
.leaves{ top:250px; left:0px; }

.oceanblue{ left:500px; top:450px; }
.swingsign{ left:700px; top:0px; }

