#map-container {
  //  height: 600px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
  //  margin: 50px 200px;
   border-width: 7px;
 }

// #map {
//   height: 600;
//   width: 100%;
//   text-align: center;
// }
