body {
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  background-color: lightslategrey;
  overflow: auto;
}

h1 {
  text-align: center;
  font-size: 15px;
}

button {
  font-size: 15px;
}

// CSS for backbone Views
#map {
display: block;
border: 1px solid black;
height: 100%;
width: 60%;
float: right;
}

#breweryIndexView {
  display: inline-block;
  border: 1px dashed black;
  width: 200px;
  height: 200px;
  margin-top: 10%;
  color: white;
  background-color: rgba(0,0,0,0.4);
}

#tourList {
  display: inline-block;
  border: 1px dashed black;
  width: 200px;
  color: white;
  background-color: rgba(0,0,0,0.4);
}

#tourSessions {
  display: inline-block;
  border: 1px dashed red;
  width: 200px;
  color: white;
  background-color: rgba(0,0,0,0.4);

}
