* {
    box-sizing: border-box;
}
// ---------------  CSS for backbone Views  ---------------  //
#app {
  padding-top: 200px;
  height: 100vh;
  width: 100%;
  list-style: none;
  font-size: 1.3em;
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  background-color: RGB(255, 204, 0);
}

#map {
  display: block;
  height: 60%;
  width: 70%;
  margin: auto;
  
}

#breweryIndexView,
#tourList,
#tourSessions {
  display: block;
}


#tourList {
    width: 100%;
}

#tourList li {
  border: 3px solid #2B2118;
  border-radius: 4px;
  padding: 6px;
  display: inline-block;
  width: 25%;
}

#breweryIndexView {
  border: 1px solid blue;
  float: left;
  width: 50%;
}

#tourSessions {
  border: 1px solid blue;
  float: right;
  width: 50%;
}


.text_banner {
	color:#fff;
	font-weight: 800;
	z-index: 10000;
	position: absolute;
	margin-left: 6em;
  font-size: 6em;
  padding-top: 60px;
  text-transform: uppercase;
}
