* {
    box-sizing: border-box;
}
// ---------------  CSS for backbone Views  ---------------  //
#app {
  padding-top: 200px;
  height: 100vh;
  width: 100%;
  list-style: none;
  font-size: 1.3em;
  font-family: "Oswald";
  text-align: center;
}

#map {
display: block;
height: 60%;
width: 70%;
margin: auto;
}

#breweryIndexView,
#tourList,
#tourSessions {
    display: block;

}

#tourList {
    float: left;
    width: 100%;
}

#breweryIndexView {
    float: right;
    width: 50%;
}
