<h2 class="redirect_to_booking">Thanks, you paid <strong>$5.00</strong>!</h2>


<!-- just to try something -->
<!-- <script>

  if ($(".redirect_to_booking").length > 0) {
    location.set(bookings_show_path)
  }

</script> -->
